.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(235, 196, 87);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(235, 220, 102);

  display: none;
}

ul.dropdown-menu li:hover {
  background: rgb(184, 151, 72);
}

.visible {
  display: block;
  animation: expand 1.2s ease;
  transform-origin: top;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }

  50% {
    transform: scaleY(1.2);
  }

  to {
    transform: scaleY(1);
  }
}